# See https://editorconfig.org for more details

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

[pom.xml]
indent_style = space
indent_size = 2

[*.html]
indent_style = space
indent_size = 2

[*.iml]
indent_style = space
indent_size = 2

[*.sh]
indent_style = tab
indent_size = 4

[sample_map.xml]
indent_style = tab
tab_width = 4
xml_space_before_self_closing = true
space_before_self_closing = true

[*.java]
indent_style = tab
indent_size = 4
ij_continuation_indent_size = 8
wildcard_import_limit = 999
ij_java_class_count_to_use_import_on_demand = 999
ij_smart_tabs = true
ij_java_packages_to_use_import_on_demand =