# See https://editorconfig.org for more details

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

[{build.xml,.travis.yml,checkstyle.xml,.checkstyle,.eclipse-pmd,launch4j.cfg.xml,pom.xml}]
indent_style = space
indent_size = 2

[*.html]
indent_style = space
indent_size = 2

[*.iml]
indent_style = space
indent_size = 2

[*.sh]
indent_style = tab
indent_size = 4

[sample_map.xml]
indent_style = tab
indent_size = 4

[*.java]
indent_style = tab
indent_size = 4
wildcard_import_limit = 999
ij_java_class_count_to_use_import_on_demand = 999
ij_smart_tabs = true
